<div class="admin-form-container">
  <h1>Edit Class</h1>
  <%= render 'form', class_session: @class_session %>
</div>

<style>
  .admin-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }

  .admin-form-container h1 {
    margin-bottom: 30px;
  }
</style>
