<div class="home_hero">
    <%= image_tag("mun_logo.svg") %>
</div>

<div class="container">
    <div class="home_textBanner">
        <%= image_tag("om.svg") %>
        <h2>Encuentra tu equilibrio interior</h2>
        <br>
        <p>
            Bienvenido a nuestro estudio de yoga, un oasis de tranquilidad y bienestar en medio del ajetreo diario. Aquí, te invitamos a embarcarte en un viaje de autodescubrimiento y crecimiento personal a través de la práctica del yoga. Nuestro equipo de instructores certificados te guiará con dedicación y experiencia, adaptando las clases a todos los niveles, desde principiantes hasta practicantes avanzados. En un ambiente acogedor y sereno, podrás desconectar del estrés, fortalecer tu cuerpo y calmar tu mente.
        </p>
        <br>
        <a class="button-green" href="#">Ver horarios</a>
    </div>
</div>

<div class="containerColumns">
    <div class="home_stylesColumn">
         <h2>Hatha, Vinyasa, Yin y más</h2>
         <br>
         <p>
            Ofrecemos una amplia variedad de estilos de yoga para satisfacer diferentes preferencias y niveles de experiencia. Desde el calmante y restaurador Yoga Nidra, pasando por el desafiante y dinámico Vinyasa, hasta el profundo y meditativo Hatha Yoga, nuestras clases están diseñadas para proporcionarte una experiencia completa y enriquecedora.
         </p>
    </div>
    <div class="home_stylesColumn">
        <%= image_tag("gradient_moon.png") %>
    </div>
</div>

<div class="container anasana_cover">
    <%= image_tag("anasana.jpg") %>
</div>

<div>
    <h2>Compra tus clases online</h2>
    <p>Las clases son drop-in, no necesitas hacer reservaciones</p>
    <div>

    </div>
</div>