/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6ddda;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2rem;
}

.button-green {
  background: #253938;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem 2.5rem;
  transition: all 0.25s ease;
}

.button-green:hover {
  background: #0f1f1e;
}

.button-white {
  background: #fff;
  border: none;
  border-radius: 30px;
  color: #253938 !important;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem 2.5rem;
  transition: all 0.25s ease;
}

.button-white:hover {
  background: #f4f4f4;
}

.button-orange {
  background: #ee7756;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  transition: all 0.25s ease;
}

.button-orange:hover {
  background: #d45937;
}

.notification {
  padding: 10px;
  position: absolute;
  top: 80px;
  right: 30px;
  background: #f6ddda;
  z-index: 9;
  border-radius: 30px;
  width: 90%;
  max-width: 330px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* NAVBAR */
.navbar-home {
  position: absolute;
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-home img {
  height: 45px;
}

.navbar {
  width: 100%;
  padding: 0 2rem;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  height: 45px;
}

.navbar .button-green,
.navbar .button-white {
  padding: 1rem 2.5rem;
  width: 110px;
  text-align: center;
  max-width: 180px;
}

@media screen and (max-width: 749px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar img {
    height: 30px;
  }

  .navbar .button-green,
  .navbar .button-white,
  .navbar .button-orange {
    font-size: 14px;
    font-weight: 600;
    padding: 0.75rem;
    width: 110px;
    text-align: center;
  }

  .navbar-home {
    padding: 0 1rem;
  }

  .navbar-home img {
    height: 25px;
  }

  .navbar-home .button-green,
  .navbar-home .button-white,
  .navbar-home .button-orange {
    font-size: 14px;
    font-weight: 600;
    padding: 0.75rem;
    width: 110px;
    text-align: center;
  }
}

/* HOME */

.home_hero {
  background: url("main_bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  width: 100%;
}

.container {
  padding: 2rem;
  margin: auto;
  max-width: 1320px;
  width: 100%;
}

.containerColumns {
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin: auto;
  max-width: 1320px;
  width: 100%;
  display: flex;
}

.home_textBanner {
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_textBanner img {
  margin-bottom: 2rem;
}

.home_textBanner p {
  margin: 0 auto;
  max-width: 660px;
}

.home_stylesColumn {
  width: 50%;
}

.home_stylesColumn img {
  width: 100%;
}

.anasana_cover img {
  width: 100%;
  border-radius: 5rem;
}

.containerPrices {
  background: #253938;
  color: #fff;
  text-align: center;
  padding: 7rem 0;
}

.containerPrices h2 {
  color: #f7c6bf;
}

.containerPrices-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.containerPrices-item {
  border: 1px solid #ee7756;
  border-radius: 40px;
  padding: 2rem;
}

.containerPrices-item p {
  font-size: 21px;
}

.containerPrices-item button {
  width: 100%;
}

.containerPrices .button-orange-width {
  max-width: 320px;
  margin: auto;
}

.containerLocation {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 100px 2rem;
}

.containerLocation-map {
  width: 50%;
}

.containerLocation-about {
  width: 50%;
}

.containerLocation-about a {
  color: #000;
}

.containerLocation-about a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 749px) {
  .home_hero {
    padding: 2rem;
  }

  .home_hero img {
    width: 300px;
  }

  .containerColumns {
    flex-direction: column;
  }

  .anasana_cover img {
    border-radius: 2rem;
  }

  .containerPrices-grid {
    grid-template-columns: 1fr;
  }

  .home_stylesColumn {
    width: 100%;
  }

  .containerLocation {
    flex-direction: column;
    padding: 50px 2rem;
  }

  .containerLocation-map,
  .containerLocation-about {
    width: 100%;
  }

  .containerLocation-map iframe {
    width: 100%;
  }
}

footer {
  background: #253938;
  text-align: center;
  padding: 60px;
}

/* DEVISE */
.registrationContainer {
  background: #253938;
  padding: 70px 0;
  display: flex;
  gap: 30px;
  align-items: center;
  color: #fff;
}

.registrationContainer-alt {
  align-items: baseline;
}

.registrationContainer-cover {
  width: 50%;
}

.registrationContainer-cover img {
  padding: 2rem;
  width: 100%;
  max-width: 630px;
  margin: auto;
  display: block;
}

.registrationContainer-form {
  padding: 2rem;
  width: 50%;
}

.registrationContainer-form img {
  height: 60px;
  margin-bottom: 50px;
}

.registrationContainer-form .button-white {
  display: inline-block;
}

.registrationContainer .field {
  margin-bottom: 30px;
}

.registrationContainer label {
  margin-bottom: 10px;
}

.registrationContainer .input {
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 420px;
}

.registrationContainer a {
  color: #fff;
}

.registrationContainer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 749px) {
  .registrationContainer {
    flex-direction: column;
  }

  .registrationContainer-form {
    width: 100%;
  }

  .registrationContainer-cover {
    display: none;
  }
}

/* CALENDAR */

.calendarioCover {
  background: #253938;
  color: #f7c6bf;
  height: 333px;
  margin: 2rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.calendarGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 2rem;
}

.calendarGrid-column {
  text-align: center;
}

.calendarGrid-column h3 {
  margin-bottom: 20px;
}

.calendarGrid-item {
  background: #fbeeed;
  padding: 2rem 1rem;
  border-radius: 30px;
  margin-bottom: 20px;
}

.calendarGrid-class {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 1rem 0;
}

@media screen and (max-width: 749px) {
  .calendarGrid {
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
